{% extends 'main/layout.html' %}

{% block content %}
    <h1 class="title">Главная страница курсовой работы</h1>

    <div class="given-by-option">
        <h3>Задано по варианту {{ variant }}:</h3>
        <p>Количество рабочих комбинаций кода - M = {{ M }}</p>
        <p>Способ задания кода - H матрица</p>
        <p>Значение информационной части в десятичном виде - U = (12mod7) + 1 = {{ U }}<sub>10</sub> = {{ binary_U }}<sub>2</sub></p>
        <p>Вариант реализации кодера ГСК - {{ encoder }}</p>
        <p>Вариант реализации декодера ГСК - {{ decoder }}</p>
        <div class="matrix">
            <span>Вид матрицы P</span>
            <span>=</span>
            <div class="matrix-info">
                {% for row in decimal_matrix_P %}
                    <span>{{ row }}</span>
                {% endfor %}
            </div>
            <span>=</span>
            <div class="binary-matrix-info">
                {% for row in binary_matrix_P %}
                    {% for cell in row %}
                        <span>{{ cell }}</span>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="code-characteristics">
        <h3>Характеристики кода:</h3>
        <p>Длина кода - n = 7</p>
        <p>Длина информационной части - m = {{ m }}</p>
        <p>Количество избыточных символов - k = {{ k }}</p>
    </div>

    <div class="calculation">
        <h3>Расчетная работа:</h3>
        <div class="matrix">
            <span>Транспонированная матрица P</span>
            <span>=</span>
            <div class="binary-transposed-matrix-info">
                {% for row in transposed_P %}
                    {% for cell in row %}
                        <span>{{ cell }}</span>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="matrix">
            <span>Матрица H</span>
            <span>=</span>
            <div class="h-matrix">
                {% for row in H_matrix %}
                    {% for cell in row %}
                        <span>{{ cell }}</span>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div>
            <span>Операторы кодирования:</span>
            <ul>
                {% for idx, operator in encoding_operators %}
                    <li>c{{ idx }} = {{ operator }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <span>Синдромы:</span>
            <ul>
                {% for idx, operator in syndrome_operators %}
                    <li>S{{ idx }} = {{ operator }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <span>Таблица синдромов:</span>
            <table border="1">
                <tr>
                    <th>Разряд</th>
                    <th>Значение</th>
                </tr>
                {% for key, value in syndrome_table.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
            <p></p>
        </div>
        <div>
            <span>Ввод информационного вектора</span>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="group_code_vector" value="{{ group_code_vector }}">
                <label for="information_vector">Входной информационный вектор: U = </label>
                <input type="text" id="information_vector" name="information_vector" placeholder="Введите..." required>
                <button type="submit">Вычислить</button>
            </form>
            {% if redundant_bits or group_code_vector %}
                <span>Групповой кодовый вектор: {{ group_code_vector  }}</span>
            {% endif %}
            {% if error_message %}
                <span>Ошибка:</span>
                <span>{{ error_message }}</span>
            {% endif %}
            <p></p>
        </div>
        <div>
            <span>Ввод вектора ошибки</span>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="group_code_vector" value="{{ group_code_vector }}">
                <label for="error_vector">Вектор ошибки: V = </label>
                <input type="text" id="error_vector" name="error_vector" placeholder="Введите..." required>
                <button type="submit">Вычислить</button>
            </form>
            {% if group_code_with_error %}
                <span>Вектор группового кода с ошибкой: {{ group_code_with_error }}</span>
            {% endif %}
            <p></p>
        </div>
        <div>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="clear">
                <button type="submit">Очистить данные</button>
            </form>
            <p></p>
        </div>
        <div>
            {% if output_string %}
                <span>Синдромы:</span>
                <span>{{ output_string }}</span>
                <p>Вектор синдрома: {{ syndrome_vector }}</p>
                <p>Ключ ошибки: {{ error_key }}</p>
            {% endif %}
            <p></p>
        </div>
        <div>
            {% if output_vector %}
                <span>Исправленный информационный вектор:</span>
                <span>{{ output_vector }}</span>
            {% endif %}
            <p></p>
            {% if error_message and output_vector %}
                <span>Ошибка:</span>
                <span>{{ error_message }}</span>
            {% endif %}
        </div>
    </div>
{% endblock %}